<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Budget</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
<div style="margin-top: 50px;" class="ui container">
    {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href='{% url "logout" %}'>Logout</a>
    {% else %}
        <a href='{% url "login" %}'>Login</a>
    {% endif %}
    <hr>
    <h1 class="ui center aligned header">Family Budget</h1>

    <form class="ui form" action="/add" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Budget Title</label>
            <input type="text" name="title" placeholder="Enter budget title..."></br>
        </div>
        <div class="field">
            <label>Budget Amount</label>
            <input type="text" name="amount_of_budget" placeholder="Enter money limit for this budget..."><br>
        </div>
        <button class="ui blue button" type="submit">Add</button>
    </form>

    {% for budget in budget_list %}
    <div class="ui segment">
        <p class="ui big header">{{ budget.id }} | {{ budget.title }} | {{ budget.amount_of_budget}}</p>

        <form class="ui form" action="/add_to_budget/{{ budget.id }}/" method="post">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="add_to_budget" placeholder="Amount of money you want to add">
                <button class="ui green button" type="submit">Add</button>
            </div>
        </form>

        <form class="ui form" action="/take_from_budget/{{ budget.id }}/" method="post">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="take_from_budget" placeholder="Amount of money you want to take">
                <button class="ui red button" type="submit">Take</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        {% for element in budget_element_list %}
        {% if element.budget.id == budget.id %}
        <p class="ui small header">{{ element.description_of_element }} | {{ element.value_of_element}}</p>
        <a class="ui grey button" href="/delete_element_from_budget/{{ element.id }}/">Remove element</a>
        {% endif %}
        {% endfor %}
        <form class="ui form" action="/add_element_to_budget/{{ budget.id }}/" method="post">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="description_of_element" placeholder="Description of element">
                <input type="text" name="value_of_element" placeholder="Value of element">
                <button class="ui yellow button" type="submit">Add element</button>
            </div>
        </form>

        <a class="ui black button" href="/delete/{{ budget.id }}/">Delete</a>
    </div>
    {% endfor %}
</div>
</body>
</html>